
<div class="container">
    <div class="justify-center flex-column">
        <h2>What is the answer to this question?</h2>
    </div>

   </div> 
   <div class="choice-container">
    <button class="choice-text">A </button>
    <button class="choice-text">choice 1</button>
    </div>
    <div class="choice-container">
    <button class="choice-text">B</button>
    <button class="choice-text">choice 2</button>
    </div>
    <div class="choice-container">
    <button class="choice-text">C</button>
    <button class="choice-text">choice 3</button>
    </div>
    <div class="choice-container">
    <button class="choice-text">D</button>
    <button class="choice-text">choice 4</button>
   </div>